## <font color='k'> Import Libraries </font>

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

## <font color='k'> Read Dataset </font>

In [35]:
data=pd.read_csv("Swarm_Behaviour.csv")

In [36]:
data.head()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.0,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.0,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.3,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.0,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.0,12,0,0.0

## <font color='k'> Scaling & Train Test Split </font>

In [39]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

scaler=StandardScaler()
df=scaler.fit_transform(X)
X=pd.DataFrame(df,columns=X.columns)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

## <font color='k'> Logistic Regression </font>

In [41]:
LogRegModel=LogisticRegression(max_iter=10000).fit(X_train,y_train)
LogRegScore=LogRegModel.score(X_test, y_test)
LogRegScore

0.8701098146877145

## <font color='k'> KNN </font>

In [42]:
KNNModel=KNeighborsClassifier().fit(X_train,y_train)
KNNScore=KNNModel.score(X_test,y_test)
KNNScore

0.8864104323953329

## <font color='k'> Naive Bayes </font>

In [43]:
NBModel=GaussianNB().fit(X_train,y_train)
NBScore=NBModel.score(X_test,y_test)
NBScore

0.4682566918325326

## <font color='k'> Decision Trees </font>

In [46]:
DTModel=DecisionTreeClassifier().fit(X_train,y_train)
DTScore=DTModel.score(X_test,y_test)
DTScore

0.8711393273850377

## <font color='k'> Model Comparison </font>

In [47]:
report=pd.DataFrame({'Model':['Logistic Regression', 'KNN', 'Naive Bayes', 'Decision Trees'], 'Score':[LogRegScore,
                                                                                                      KNNScore,
                                                                                                      NBScore,
                                                                                                      DTScore]})
report

                 Model     Score
0  Logistic Regression  0.870110
1                  KNN  0.886410
2          Naive Bayes  0.468257
3       Decision Trees  0.871139